@import url(https://fonts.googleapis.com/css?family=Roboto);


body{
  font-family: 'Roboto', sans-serif;
}  


#navbar {
  background:rgba(0,0,0,0); 
  color:black;
  border:none;
}

#card-wrapper{
  height:300px;
  text-align:center;
}

.white-text {
  font-size: 3em;
  color: white;
}


.theatre-area {
    -webkit-transform-style: preserve-3d;                                 /* Provides 3D perspective. */
    transition: all 0.3s;                                /* Slows down any transitions (e.g. rotation) */
    -webkit-transition: all 0.3s;
}

.large {
  transition: none !important;
  padding: 2em 5rem 2em 5em;
  font-size: 4em;
}

.large: hover {
  color: white;
}

@media screen and (max-width: 768px) {
    .large{
      padding: 2.5em 2.5rem 2.5em 2.5em;
      font-size: 2em;
    }
    
    .white-text {
      font-size: 1.5em;
      color: white;
    }
  
}