@import url(https://fonts.googleapis.com/css?family=Roboto);


body{
  font-family: 'Roboto', sans-serif;
}  


#navbar {
  background:rgba(0,0,0,0); 
  color:black;
  border:none;
}

#card-wrapper{
  height:450px;
  text-align:center;
}

.white-text {
  font-size: 3em;
  color: white;
}

.front, .back {
  /*left:0;*/
  /*right:0;*/
  /*margin-left:auto;*/
  /*margin-right:auto;*/
  /*text-align:center;*/
}

.theatre-area {
    -webkit-transform-style: preserve-3d;                                 /* Provides 3D perspective. */
    transition: all 0.3s;                                /* Slows down any transitions (e.g. rotation) */
    -webkit-transition: all 0.3s;
    
}