body {
  padding-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


li.deck-container{
  display: inline; /* Shows each item side-by-side */
  list-style-type: none; /* Gets rid of the bullet points */
  float: left;
}

.action-buttons{
  margin-right:3px;
}

/*.card {*/
/*  border: 1px solid #e5e5e5;*/
/*}*/