div(class="modal fade", id="add-pearson-card-modal", tabindex="-1", role="dialog", style="display: none;")
    div.modal-dialog
        div.formmodal-container
            h1 Add PEARSON Card
            form(name="newCard", id="new-card")
                input(type='submit', value="Create", name="create-card", id="create-card-button", class="form formmodal-submit")