div(class="modal fade", id="quizlet-deck-modal", tabindex="-1", role="dialog", style="display: none;")
    div.modal-dialog
        div.formmodal-container.big
            h1 Search Quizlet
            form(id="quizlet-search")
                input(type="text",name='q', placeholder="Search term"  autocomplete="off" required)
                input(type='submit', value="Search" class="form formmodal-submit")
                nav
             ul.pager
                li
                    a(href='#' id="search-previous") Previous
                li
                    a(href='#' id="search-next") Next
            .list-group(id="search-results")

                


                
