div(class="modal fade", id="login-modal", tabindex="-1", role="dialog", style="display: none;")
    div.modal-dialog
        div.formmodal-container
            h2 ReSpot
            h1 Login to Your Account
            form(id="login", action="/user/login", method="post")
                input(type='text', name='user' autocomplete="off" placeholder="Username" required)
                input(type='password', name='pass' placeholder="Password" required)
                input(type='submit', value="Login" name="login" class="form formmodal-submit")
            div.form-help
            a(data-toggle="modal", data-target="#register-modal" href="#" onclick="$('#login-modal').modal('hide')") Register for an account
            .alert.alert-danger(id="login-err-msg" role='alert') #{error}