html
    head
        title Register for a new ReSpot Account
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin="anonymous")
        link(href="/stylesheets/form.css" rel="stylesheet")
        script(src="https://code.jquery.com/jquery-latest.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==", crossorigin="anonymous")
    body

        if error 
            h1 An Error has occured. 
            h2 Please try again. 
            h3 #{error}
        else
            div.modal-dialog
                div.formmodal-container
                    h2 ReSpot
                    h1 Create your new account
                    form(name="register", action="/user/register", method="post")
                        input(type='text', name='user' placeholder="New Username")
                        input(type='password', name='pass' placeholder="New Password")
                        input(type='submit', value="Register" name="login" class="form formmodal-submit")
                    div.form-help
                    a(href="/user/login") Already have an account?
