doctype html
html
    head
        title=reSpot
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/flashcard.css')
        
        script(src="https://code.jquery.com/jquery-latest.min.js")
        // script(src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==", crossorigin="anonymous")
        script(src="/javascripts/study.js")

    body 
        div(class='stage')
            div(class='flashcard')
                //- front and back of the flash card
                div(class="front")
                    p leg·er·de·main
                div(class="back")
                    div(class="title")
                        p leg·er·de·main
                    p |  skillful use of one's hands when performing conjuring tricks.
                      |  synonyms:	sleight of hand, conjuring, magic, wizardry
            div(class="navbar-fixed-bottom")
                div(class="container")
                    span(class="determineFalse")
                        span(class="glyphicon glyphicon-remove-circle")
                    span(class="determineTrue")
                        span(class="glyphicon glyphicon-ok-circle")
                    
            